<div class="container">

  <h1>Cocktails <%= link_to "Create cocktail" , new_cocktail_path, class: 'btn btn-success'%>  </h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail), class: 'card-link'  do%>
      <div class="col-xs-12 col-sm-4">
        <% if cocktail.photo? %>
          <div class="card"
          style="background-image: url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
        <% else %>
          <div class="card" style="background-color: #bbb">
        <% end %>
            <div class="card-category"><%= cocktail.name.capitalize%></div>
            <div class="card-description"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
